<div ng-app="mainApp" ng-controller="repCobrosCuentaCorrienteController">

    <div class="widget-box widget-color-dark ui-sortable-handle" style="opacity: 1; z-index: 0;">
        <div class="widget-header widget-header-small">
            <h2 class="widget-title smaller">
                Cobros Facturacion
            </h2>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <ctr-periodo fechas-periodo="desdeHasta" titulo="Periodo"></ctr-periodo>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <ctr-seleccionar-cliente ng-cliente-seleccionado="clienteSeleccionado"></ctr-seleccionar-cliente>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5" style="padding-left: 15px;padding-top: 18px;">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Formas de Pago </label>
                        <div class="col-sm-9">
                            <select class="col-sm-8" ng-model="formasPago.valor_ids"
                                    ng-options="formasPago.valor_ids as formasPago.valorTexto for formasPago in formasDePago"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button type="button" ng-click="buscar()" class="btn btn-sm btn-primary pull-right">
                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                Buscar
            </button>
            <button type="button" ng-click="ExportarCSV()" class="btn btn-sm btn-success pull-right">
                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                Export CSV
            </button>
        </div>
    </div>
</div>

<script src="~/js/app/controllers/reportes/appReportes.js"></script>
<script src="~/js/app/controllers/reportes/directivesReportes.js"></script>
<script src="~/js/app/controllers/reportes/repCobrosCuentaCorriente.js"></script>
<script src="~/js/app/app_directives.js"></script>