<div ng-app="mainApp" ng-controller="repFacturasController">

    <div class="widget-box widget-color-dark ui-sortable-handle" style="opacity: 1; z-index: 0;">
        <div class="widget-header widget-header-small">
            <h2 class="widget-title smaller">
                Facturas
            </h2>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <ctr-periodo fechas-periodo="desdeHastaCreacion" titulo="Fecha Creación"></ctr-periodo>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <ctr-seleccionar-cliente ng-cliente-seleccionado="clienteSeleccionado"></ctr-seleccionar-cliente>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <ctr-periodo fechas-periodo="desdeHastaVencimiento" titulo="Fecha Vencimiento"></ctr-periodo>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 3px;padding-top: 18px;">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Estados Facturas </label>
                        <div class="col-sm-9">
                            <select class="col-sm-8" ng-model="estadoFactura.valor_ids"
                                    ng-options="estado.valor_ids as estado.valorTexto for estado in estadosFactura"></select>
                        </div>
                     </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input name="form-field-checkbox" ng-model="esFacturaElectronica" type="checkbox" class="ace">
                                <span class="lbl"> Es Factura Electronica</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button type="button" ng-click="buscar()" class="btn btn-sm btn-primary pull-right">
                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                Buscar
            </button>
            <button type="button" ng-click="ExportarCSV()" class="btn btn-sm btn-success pull-right">
                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                Export CSV
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover"
                   st-table="displayFacturas"
                   st-safe-src="facturas">
                <thead>
                    <tr>
                        <th class="center" st-sort="nroFactura">
                            Nº Factura
                        </th>
                        <th st-sort="fechaFactura">
                            Fecha
                        </th>
                        <th st-sort="tipoFactura">
                            Tipo Factura
                        </th>
                        <th st-sort="montoFacturaIVA">
                            Monto IVA
                        </th>
                        <th st-sort="montoFacturaTotal">
                            Monto Total
                        </th>
                        <th st-sort="montoTotalNeto">
                            Monto Neto
                        </th>
                        <th st-sort="estadoFactura">
                            Estado
                        </th>
                    </tr>
                    <tr>
                        <th colspan="10">
                            <input st-search="" class="form-control" placeholder="Buscar en esta tabla" type="text" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="factura in displayFacturas">
                        <td>
                            {{factura.nroFactura}}
                        </td>
                        <td>
                            {{factura.fechaFactura.slice(6, -2)  |  date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{factura.tipoFactura}}
                        </td>
                        <td>
                            {{factura.montoFacturaIVA}}
                        </td>
                        <td>
                            {{factura.montoFacturaTotal}}
                        </td>
                        <td>
                            {{factura.montoTotalNeto}}
                        </td>
                        <td>
                            {{factura.estadoFactura}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="15" st-displayed-pages="8"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.span -->
    </div>
</div>

<script src="~/js/app/controllers/reportes/appReportes.js"></script>
<script src="~/js/app/controllers/reportes/directivesReportes.js"></script>
<script src="~/js/app/controllers/reportes/repFacturas.js"></script>
<script src="~/js/app/app_directives.js"></script>