
<div ng-app="mainApp" ng-controller="repGestionesPorHojaDeRutaController">

    <div class="widget-box widget-color-dark ui-sortable-handle" style="opacity: 1; z-index: 0;">
        <div class="widget-header widget-header-small">
            <h2 class="widget-title smaller">
                Reporte de gestiones en clientes por Reparto
            </h2>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <ctr-periodo fechas-periodo="desdeHasta" titulo="Periodo"></ctr-periodo>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <ctr-seleccionar-repartidor repartidor-seleccionado="repartidorSeleccionado"></ctr-seleccionar-repartidor>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <ctr-seleccionar-reparto reparto-seleccionado="repartoSeleccionado"></ctr-seleccionar-reparto>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right center">Agrupado</label>
                                <div class="col-sm-9">
                                    <div class="clearfix">

                                        <select ng-model="agrupador" class="input-group col-sm-9">
                                            <option value="porDia" selected>Por día</option>
                                            <option value="porMes">Por mes</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <span ng-show="ventasPorRubro!=null">
                {{cajasDeRepartos.length}} registros encontrados.
            </span>
            <button type="button" ng-disabled="descangando" ng-click="descargarExcel()" class="btn btn-sm btn-success pull-right" style="margin-left: 10px">
                <i class="ace-icon fa fa-file-excel-o icon-on-right bigger-110"></i>
                {{descangando?'Descargando archivo...':'Descargar Excel'}}
            </button>
            <button type="button" ng-click="buscar()" class="btn btn-sm btn-primary pull-right" style="margin-left: 10px">
                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                Buscar
            </button>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <table ng-if="agrupador=='porDia'"
                   class="table table-striped table-bordered"
                   st-table="displayPorDia"
                   st-safe-src="reporte.registros">
                <thead>
                    <tr>
                        <th class="center" st-sort="fecha">
                            Fecha
                        </th>
                        <th st-sort="nombreReparto">
                            Reparto
                        </th>
                        <th st-sort="cantidadClientes" style="border-right: 2px solid !important;">
                            Cant
                        </th>
                        
                        <th st-sort="cantidadVisitados">Vis</th>
                        <th st-sort="cantidadNoVisitados">N/Vis</th>
                        <th st-sort="porcVisitados" style="border-right: 2px solid !important;">
                            % Vis
                        </th>
                        
                        <th st-sort="cantidadConGestiones">C/Ges</th>
                        <th st-sort="cantidadAusentes">Aus</th>
                        <th st-sort="cantidadSinGestiones">S/Ges</th>
                        <th st-sort="porcConGestiones">% C/Ges</th>
                        <th st-sort="porcAusentes" style="border-right: 2px solid !important;">% Aus</th>
                        
                        
                        <th st-sort="cantidadConEntregas">Entr</th>
                        <th st-sort="cantidadConCobros">Cob</th>
                        <th st-sort="cantidadConEnvases">Env</th>
                        <th st-sort="cantidadConDevoluciones">Dev</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr style="background: rgb(251, 193, 139) !important">
                        <td class="text-center" colspan="2">
                            <strong>Totales</strong>
                        </td>
                        <td style="border-right: 2px solid !important;">
                            {{reporte.cantidadClientes}}
                        </td>

                        <td>{{reporte.cantidadVisitados}}</td>
                        <td>{{reporte.cantidadNoVisitados}}</td>
                        <td style="border-right: 2px solid !important;">
                            {{reporte.porcVisitados}}%
                        </td>

                        <td>{{reporte.cantidadConGestiones}}</td>
                        <td>{{reporte.cantidadAusentes}}</td>
                        <td>{{reporte.cantidadSinGestiones}}</td>
                        <td>{{reporte.porcConGestiones}}%</td>
                        <td style="border-right: 2px solid !important;">
                            {{reporte.porcAusentes}}%
                        </td>

                        <td>{{reporte.cantidadConEntregas}}</td>
                        <td>{{reporte.cantidadConCobros}}</td>
                        <td>{{reporte.cantidadConEnvases}}</td>
                        <td>{{reporte.cantidadConDevoluciones}}</td>

                    </tr>
                    
                    <tr ng-repeat="item in displayPorDia">
                        <td>
                            {{item.fecha.slice(6, -2)  |  date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{item.nombreReparto}}
                        </td>
                        <td style="border-right: 2px solid !important;">
                            {{item.cantidadClientes}}
                        </td>

                        <td>{{item.cantidadVisitados}}</td>
                        <td>{{item.cantidadNoVisitados}}</td>
                        <td style="border-right: 2px solid !important;">
                            {{item.porcVisitados}}%
                        </td>

                        <td>{{item.cantidadConGestiones}}</td>
                        <td>{{item.cantidadAusentes}}</td>
                        <td>{{item.cantidadSinGestiones}}</td>
                        <td>{{item.porcConGestiones}}%</td>
                        <td style="border-right: 2px solid !important;">
                            {{item.porcAusentes}}%
                        </td>

                        <td>{{item.cantidadConEntregas}}</td>
                        <td>{{item.cantidadConCobros}}</td>
                        <td>{{item.cantidadConEnvases}}</td>
                        <td>{{item.cantidadConDevoluciones}}</td>

                    </tr>

                </tbody>
              
                <tfoot>
                    <tr>
                        <td colspan="10" class="text-center">
                            <div st-pagination="" st-items-by-page="20" st-displayed-pages="8"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table ng-if="agrupador=='porMes'"
                   class="table table-striped table-bordered"
                   st-table="displayPorMes"
                   st-safe-src="reporte.registrosPorPeriodo">
                <thead>
                    <tr>

                        <th class="center" st-sort="periodo">
                            Periodo
                        </th>
                        <th st-sort="nombreReparto">
                            Reparto
                        </th>
                        <th st-sort="cantidadClientes" style="border-right: 2px solid !important;">
                            Cant
                        </th>

                        <th st-sort="cantidadVisitados">Vis</th>
                        <th st-sort="cantidadNoVisitados">N/Vis</th>
                        <th st-sort="porcVisitados" style="border-right: 2px solid !important;">
                            % Vis
                        </th>

                        <th st-sort="cantidadConGestiones">C/Ges</th>
                        <th st-sort="cantidadAusentes">Aus</th>
                        <th st-sort="cantidadSinGestiones">S/Ges</th>
                        <th st-sort="porcConGestiones">% C/Ges</th>
                        <th st-sort="porcAusentes" style="border-right: 2px solid !important;">% Aus</th>


                        <th st-sort="cantidadConEntregas">Entr</th>
                        <th st-sort="cantidadConCobros">Cob</th>
                        <th st-sort="cantidadConEnvases">Env</th>
                        <th st-sort="cantidadConDevoluciones">Dev</th>

                    </tr>

                </thead>

                <tbody>
                    <tr style="background: rgb(251, 193, 139) !important">
                        <td class="text-center" colspan="2">
                            <strong>Totales</strong>
                        </td>
                        <td style="border-right: 2px solid !important;">
                            {{reporte.cantidadClientes}}
                        </td>

                        <td>{{reporte.cantidadVisitados}}</td>
                        <td>{{reporte.cantidadNoVisitados}}</td>
                        <td style="border-right: 2px solid !important;">
                            {{reporte.porcVisitados}}%
                        </td>

                        <td>{{reporte.cantidadConGestiones}}</td>
                        <td>{{reporte.cantidadAusentes}}</td>
                        <td>{{reporte.cantidadSinGestiones}}</td>
                        <td>{{reporte.porcConGestiones}}%</td>
                        <td style="border-right: 2px solid !important;">
                            {{reporte.porcAusentes}}%
                        </td>

                        <td>{{reporte.cantidadConEntregas}}</td>
                        <td>{{reporte.cantidadConCobros}}</td>
                        <td>{{reporte.cantidadConEnvases}}</td>
                        <td>{{reporte.cantidadConDevoluciones}}</td>

                    </tr>

                    <tr ng-repeat="item in displayPorMes">
                        <td>
                            {{item.periodo}}
                        </td>
                        <td>
                            {{item.nombreReparto}}
                        </td>
                        <td style="border-right: 2px solid !important;">
                            {{item.cantidadClientes}}
                        </td>

                        <td>{{item.cantidadVisitados}}</td>
                        <td>{{item.cantidadNoVisitados}}</td>
                        <td style="border-right: 2px solid !important;">
                            {{item.porcVisitados}}%
                        </td>

                        <td>{{item.cantidadConGestiones}}</td>
                        <td>{{item.cantidadAusentes}}</td>
                        <td>{{item.cantidadSinGestiones}}</td>
                        <td>{{item.porcConGestiones}}%</td>
                        <td style="border-right: 2px solid !important;">
                            {{item.porcAusentes}}%
                        </td>

                        <td>{{item.cantidadConEntregas}}</td>
                        <td>{{item.cantidadConCobros}}</td>
                        <td>{{item.cantidadConEnvases}}</td>
                        <td>{{item.cantidadConDevoluciones}}</td>

                    </tr>

                </tbody>


                <tfoot>
                    <tr>
                        <td colspan="10" class="text-center">
                            <div st-pagination="" st-items-by-page="20" st-displayed-pages="8"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div><!-- /.span -->
    </div>


</div>

<script src="~/js/app/controllers/reportes/appReportes.js"></script>
<script src="~/js/app/controllers/reportes/directivesReportes.js"></script>
<script src="~/js/app/controllers/reportes/repGestionesPorHojaDeRuta.js"></script>
<script src="~/js/app/app_directives.js"></script>