<div ng-app="mainApp" ng-controller="repLiquidacionesEnvasesArticulosController">

    <div class="widget-box widget-color-dark ui-sortable-handle" style="opacity: 1; z-index: 0;">
        <div class="widget-header widget-header-small">
            <h2 class="widget-title smaller">
                Liquidaciones de envases y artículos
            </h2>
        </div>
        <div class="widget-body">
            <div class="widget-main">

                <div class="row">

                    <div class="col-sm-4">

                        <ctr-periodo fechas-periodo="periodo" titulo="Periodo"></ctr-periodo>

                    </div>

                    <div class="col-sm-4">

                        <div class="form-group" style="    margin-top: 18px;">
                            <label class="col-sm-3 control-label no-padding-right center">Repartidores</label>
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    <ui-seleccionar-repartidores dir-model="busqueda.repartidores" multiple="true" allow-clear="true"></ui-seleccionar-repartidores>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">

            <button type="button" ng-disabled="descangando" ng-click="descargarExcel()" class="btn btn-sm btn-success pull-right" style="margin-left: 10px">
                <i class="ace-icon fa fa-file-excel-o icon-on-right bigger-110"></i>
                {{descangando?'Descargando archivo...':'Descargar Excel'}}
            </button>
            <button type="button" ng-click="buscar()" class="btn btn-sm btn-primary pull-right" style="margin-left: 10px">
                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                Buscar
            </button>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <uib-tabset>

                <uib-tab heading="Liquiaciones de artículos">

                    <table class="table table-striped table-bordered table-hover"
                           st-table="displayItemsArticulos"
                           st-safe-src="liquidacion.itemsArticulos">
                        <thead>
                            <tr>
                                <th st-sort="repartidor">
                                    Repartidor
                                </th>
                                <th st-sort="reparto">
                                    Reparto
                                </th>
                                <th class="center" st-sort="fecha">
                                    Fecha
                                </th>
                                <th st-sort="articulo">
                                    Artículo
                                </th>
                                <th>
                                    Faltante
                                </th>
                                <th>
                                    Sobrante
                                </th>

                            </tr>
                            <tr>
                                <th colspan="6">
                                    <input st-search="" class="form-control" placeholder="Buscar en esta tabla" type="text" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayItemsArticulos">
                                <td>
                                    {{item.repartidor}}
                                </td>
                                <td>
                                    {{item.reparto}}
                                </td>
                                <td>
                                    <a href="/HojasDeRuta/LiquidacionHojaDeRuta?hojaDeRutaId={{item.hojaDeRuta_id}}" target="_blank">{{item.fecha.slice(6, -2)  |  date:'dd/MM/yyyy'}}</a>                                    
                                </td>
                                <td>
                                    {{item.articulo}}
                                </td>
                                <td>
                                    {{item.resultado.cantidadFaltante}}
                                </td>
                                <td>
                                    {{item.resultado.cantidadSobrante}}
                                </td>
                                
                            </tr>
                        </tbody>
                        @*<tfoot>
                            <tr>
                                <td colspan="4">
                                    <strong class="pull-right">TOTALES</strong>
                                </td>
                                <td>
                                    <strong>${{datos.totalPorRepartidor.totalNeto}}</strong>
                                </td>
                                <td colspan="2">
                                    <strong>${{datos.totalPorRepartidor.totalComisiones}}</strong>
                                </td>
                            </tr>
                        </tfoot>*@
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="30" st-displayed-pages="20"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </uib-tab>
                
                <uib-tab heading="Liquiaciones de envases">

                    <table class="table table-striped table-bordered table-hover"
                           st-table="displayItemsEnvases"
                           st-safe-src="liquidacion.itemsEnvases">
                        <thead>
                            <tr>
                                <th colspan="4"></th>
                                <th colspan="2" class="center">
                                    Llenos
                                </th>
                                <th colspan="2" class="center">
                                    Vacíos
                                </th>
                                <th colspan="2" class="center">
                                    Fallados
                                </th>
                            </tr>
                            <tr>
                                <th st-sort="repartidor">
                                    Repartidor
                                </th>
                                <th st-sort="reparto">
                                    Reparto
                                </th>
                                <th class="center" st-sort="fecha">
                                    Fecha
                                </th>
                                <th st-sort="articulo">
                                    Artículo
                                </th>

                                <th class="center">
                                    Faltan
                                </th>
                                <th class="center">
                                    Sobran
                                </th>

                                <th class="center">
                                    Faltan
                                </th>
                                <th class="center">
                                    Sobran
                                </th>

                                <th class="center">
                                    Faltan
                                </th>
                                <th class="center">
                                    Sobran
                                </th>
                            </tr>
                            <tr>
                                <th colspan="10">
                                    <input st-search="" class="form-control" placeholder="Buscar en esta tabla" type="text" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayItemsEnvases">
                                <td>
                                    {{item.repartidor}}
                                </td>
                                <td>
                                    {{item.reparto}}
                                </td>
                                <td>
                                    <a href="/HojasDeRuta/LiquidacionHojaDeRuta?hojaDeRutaId={{item.hojaDeRuta_id}}" target="_blank">{{item.fecha.slice(6, -2)  |  date:'dd/MM/yyyy'}}</a>
                                </td>
                                <td>
                                    {{item.articulo}}
                                </td>

                                <td class="center">
                                    <span class="label {{item.llenos.cantidadFaltante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.llenos.cantidadFaltante}}</span>
                                </td>
                                <td class="center">
                                    <span class="label {{item.llenos.cantidadSobrante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.llenos.cantidadSobrante}}</span>
                                </td>

                                <td class="center">
                                    <span class="label {{item.vacios.cantidadFaltante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.vacios.cantidadFaltante}}</span>
                                </td>
                                <td class="center">
                                    <span class="label {{item.vacios.cantidadSobrante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.vacios.cantidadSobrante}}</span>
                                </td>

                                <td class="center">
                                    <span class="label {{item.fallados.cantidadFaltante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.fallados.cantidadFaltante}}</span>
                                </td>
                                <td class="center">
                                    <span class="label {{item.fallados.cantidadSobrante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.fallados.cantidadSobrante}}</span>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div st-pagination="" st-items-by-page="20" st-displayed-pages="20"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </uib-tab>

                <uib-tab heading="Resumen por artículos">

                    <table class="table table-striped table-bordered table-hover"
                           st-table="displayResumenArticulos"
                           st-safe-src="liquidacion.resumenArticulos">
                        <thead>
                            <tr>
                                <th st-sort="articulo">
                                    Artículo
                                </th>
                                <th>
                                    Faltante
                                </th>
                                <th>
                                    Sobrante
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayResumenArticulos">
                                
                                <td>
                                    {{item.articulo}}
                                </td>
                                <td>
                                    {{item.resultado.cantidadFaltante}}
                                </td>
                                <td>
                                    {{item.resultado.cantidadSobrante}}
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </uib-tab>

                <uib-tab heading="Resumen por envases">

                    <table class="table table-striped table-bordered table-hover"
                           st-table="displayResumenEnvases"
                           st-safe-src="liquidacion.resumenEnvases">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="center" colspan="2">
                                    Llenos
                                </th>
                                <th class="center" colspan="2">
                                    Vacíos
                                </th>
                                <th class="center" colspan="2">
                                    Fallados
                                </th>
                            </tr>
                            <tr>
                                <th st-sort="articulo">
                                    Artículo
                                </th>
                                <th class="center">
                                    Faltan
                                </th>
                                <th class="center">
                                    Sobran
                                </th>
                                <th class="center">
                                    Faltan
                                </th>
                                <th class="center">
                                    Sobran
                                </th>
                                <th class="center">
                                    Faltan
                                </th>
                                <th class="center">
                                    Sobran
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayResumenEnvases">
                                <td>
                                    {{item.articulo}}
                                </td>
                                <td class="center">
                                    <span class="label {{item.llenos.cantidadFaltante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.llenos.cantidadFaltante}}</span>
                                </td>
                                <td class="center">
                                    <span class="label {{item.llenos.cantidadSobrante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.llenos.cantidadSobrante}}</span>
                                </td>

                                <td class="center">
                                    <span class="label {{item.vacios.cantidadFaltante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.vacios.cantidadFaltante}}</span>
                                </td>
                                <td class="center">
                                    <span class="label {{item.vacios.cantidadSobrante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.vacios.cantidadSobrante}}</span>
                                </td>

                                <td class="center">
                                    <span class="label {{item.fallados.cantidadFaltante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.fallados.cantidadFaltante}}</span>
                                </td>
                                <td class="center">
                                    <span class="label {{item.fallados.cantidadSobrante>0?'label-danger':'label-warning'}} arrowed arrowed-right">{{item.fallados.cantidadSobrante}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </uib-tab>

            </uib-tabset>

        </div><!-- /.span -->
    </div>


</div>

<script src="~/js/app/controllers/reportes/appReportes.js"></script>
<script src="~/js/app/controllers/reportes/directivesReportes.js"></script>
<script src="~/js/app/controllers/reportes/repLiquidaciones.js"></script>
<script src="~/js/app/app_directives.js"></script>
<style>
    .btn-default, .btn-default:focus, .btn:focus {
        background-color: #5aa9d9 !important;
        border-color: #031d2d;
    }
</style>