

<div id="modal_centros">
    <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <h3 class="header smaller lighter blue">
                        <span style="margin-left: 10px">{{tituloAccion}}</span>
                    </h3>
                    <div class="form-horizontal col-sm-9">
                        <!--<div class="row" ng-show="mostrarId">-->
                            <div class="row" ng-show="false">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"> Id: </label>
                                        <div class="col-sm-9">
                                            <input ng-model="centro.id" class="validate form-control col-xs-10 col-sm-10 "
                                                   fieldtype="text" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Razon Social: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.razonSocial" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Nombre de Fantasía: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.nombreDeFantasia" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Inicio de Actividades: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.fechaInicioActividades" class="validate form-control col-xs-10 col-sm-10 date-picker"
                                               fieldtype="text" type="text" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Condición IVA: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.condicionIva" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Cuit: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.cuit" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> IIBB: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.ingresosBrutos" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Domicilio: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.domicilio" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Email: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.emailEmpresa" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Sitio Web: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.sitioWebEmpresa" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Teléfonos:  </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.telefonos" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Punto de Venta:  </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.puntoDeVenta" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Tipo: </label>
                                    <div class="col-sm-9">
                                        <select class="input-group col-xs-10 col-sm-8"
                                                ng-model="centro.tipoFacturacion_ids"
                                                ng-options="item.valor_ids as item.valorTexto for item in tiposDeFactu"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Entorno: </label>
                                    <div class="col-sm-9">
                                        <select class="input-group col-xs-10 col-sm-8"
                                                ng-model="centro.entorno"
                                                ng-options="item.name as item.name for item in entornos"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Archivo Certif.:  </label>
                                    <div class="col-sm-9">
                                        <input name="fileCertificado" type="file" ng-files="getTheFiles($files, 'fileCertificado')" 
                                               ng-model="centro.nombreArchivoCertificado" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Clave Certif.:  </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.passwordCertificado" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Logo:  </label>
                                    <div class="col-sm-9">                                        
                                        <input  name="fileLogo" type="file" ng-files="getTheFiles($files, 'fileLogo')" 
                                                ng-model="centro.archivoLogo"/>                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">  </label>
                                    <div class="col-sm-9">
                                        <label class="middle">
                                            <input class="ace" type="checkbox" ng-model="centro.facturarTipoA">
                                            <span class="lbl">
                                                Es Responsable Inscripto (Factura A)
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">  </label>
                                    <div class="col-sm-9">
                                        <label class="middle">
                                            <input class="ace" type="checkbox" ng-model="centro.regimenAfiFacturapM">
                                            <span class="lbl">
                                                Es Responsable Inscripto con régimen M
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Código empresa Rapipago: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.codigoEmpresaRapipago" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Código empresa PagoMisCuentas: </label>
                                    <div class="col-sm-9">
                                        <input ng-model="centro.codigoEmpresaPagoMisCuentas" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">  </label>
                                    <div class="col-sm-9">
                                        <label class="middle">
                                            <input class="ace" type="checkbox" ng-model="centro.activo">
                                            <span class="lbl">
                                                Activo
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-warning" type="button" href="javascript:void(0);" ng-click="Cerrar()">
                            <i class="ace-icon fa fa-arrow-circle-left bigger-110"></i>
                            Volver
                        </a>

                        <button class="btn btn-primary pull-right" type="button" ng-click="Save()" href="javascript:void(0);">
                            <i class="ace-icon fa fa-save bigger-110"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
