
@{
    ViewBag.Title = "Android Helper";
}
<div ng-app="mainApp" ng-controller="androidHelper">
    
<textarea ng-model="xmlContent" style="width: 600px; height: 200px" placeholder="xml layout"></textarea>
<br/>
<input type="text" ng-model="control" placeholder="control"/>
<input type="text" ng-model="root" placeholder="root"/>
<br/>
<br/>
<button type="button" ng-click="confirmar()">Aceptar</button>
<br/>
<br/>
<textarea ng-model="declaraciones" style="width: 600px; height: 200px"></textarea>
<br/>
<textarea ng-model="vistas" style="width: 600px; height: 200px"></textarea>
<br/>
<textarea ng-model="metodos" style="width: 600px; height: 200px"></textarea>

</div>

<script src="~/js/app/controllers/androidHelper.js"></script>
