

<div id="modal_moviles">
    <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <h3 class="header smaller lighter blue">
                        <span style="margin-left: 10px">{{tituloAccion}}</span>
                    </h3>
                    <div class="form-horizontal col-sm-9">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Móvil </label>
                                    <div class="col-sm-9">
                                        <input ng-model="movil.descripcion" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Número de Teléfono </label>
                                    <div class="col-sm-9">
                                        <input ng-model="movil.numeroTelefono" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">  </label>
                                    <div class="col-sm-9">
                                        <label class="middle">
                                            <input class="ace" type="checkbox" ng-model="movil.activo">
                                            <span class="lbl">
                                                Activo
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Repartidor </label>
                                    <div class="col-sm-9">
                                      
                                        <select class="input-group col-xs-10 col-sm-8"
                                                ng-model="movil.repartidor_id"
                                                ng-options="item.id as item.nombreApellido for item in usuarios"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Código de Identificación </label>
                                    <div class="col-sm-9">
                                        <input ng-model="movil.codigoIdentificacionDeMovil" class="validate form-control col-xs-10 col-sm-10 "
                                               fieldtype="text" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-warning" type="button" href="javascript:void(0);" ng-click="Cerrar()">
                            <i class="ace-icon fa fa-arrow-circle-left bigger-110"></i>
                            Volver
                        </a>

                        <button class="btn btn-primary pull-right" type="button" ng-click="Save()">
                            <i class="ace-icon fa fa-save bigger-110"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
