<h2>Buscar Facturas</h2>
<div class="form-horizontal" ng-app="app_facturacion" id="div_formFacturas" ng-controller="facturasController">

    <fieldset>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 no-padding-right">Fecha desde</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="clearfix">
                        <input fieldtype="text" ng-model="fechaDesde" errormessage="La fecha fin de ciclo" class="date-picker col-xs-10 col-sm-8" placeholder="día/mes/año" type="text" />
                    </div>
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 no-padding-right">Fecha hasta</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="clearfix">
                        <input fieldtype="text" ng-model="fechaHasta" errormessage="La fecha fin de ciclo" class="date-picker col-xs-10 col-sm-8" placeholder="día/mes/año" type="text" />
                    </div>
                    <div class="mensajeValidacion help-block"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 no-padding-right"></label>
                <div class="col-xs-12 col-sm-8">
                    <div class="clearfix">
                        <label class="middle">
                            <input class="ace" type="checkbox" ng-model="soloConErrores">
                            <span class="lbl"> Solo con errores</span>
                        </label>
                    </div>
                    <div class="mensajeValidacion help-block"></div>

                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-actions center">

        <div class="row">

            <div class="col-sm-2">
                <button type="button" id="btn_submit" ng-click="buscarFacturas()" class="btn btn-sm btn-primary">
                    Buscar Facturas
                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                </button>
            </div>
            
            <div class="col-sm-2">
                <button type="button" ng-click="generarFacturasDigitalesPendientes()" class="btn btn-sm btn-danger">
                    Generar FE
                    <i class="ace-icon fa fa-bolt icon-on-right bigger-110"></i>
                </button>
            </div>
            
            <div class="col-sm-2">
                <button type="button" ng-click="generarPdfPendientes()" class="btn btn-sm btn-warning">
                    Generar PDFs
                    <i class="ace-icon fa fa-file-pdf-o icon-on-right bigger-110"></i>
                </button>
            </div>
            
            <div class="col-sm-3">
                <button type="button" ng-click="generarPdfPendientesLiquidaciones()" class="btn btn-sm btn-warning">
                    Generar PDFs Liquidaciones
                    <i class="ace-icon fa fa-file-pdf-o icon-on-right bigger-110"></i>
                </button>
            </div>

            <div class="col-sm-2">
                <button type="button" ng-click="obtenerPDFs()" class="btn btn-sm btn-success">
                    <img src="/Images/waiting.gif" style="width: 20px;" ng-show="generandoPdfs" />
                    Obtener PDFs
                    <i class="ace-icon fa fa-download icon-on-right bigger-110"></i>
                </button>
            </div>

        </div>
    </div>
    
    <table class=" table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Cliente</th>
                <th>Resultado</th>
                <th>CAE</th>
                <th>Nro Compr</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in documentos">
                
                <td></td>

                <td ng-if="item.tipoAjuste==null">
                    <span ng-show="item.pathFactura==null || item.pathFactura==''">{{item.id}}</span>
                    <a ng-show="item.pathFactura!=null && item.pathFactura!=''" target="blank" href="/Facturas/{{item.pathFactura}}">{{item.id}}</a>
                </td>
                <td ng-if="item.tipoAjuste==null">{{item.fechaFactura.slice(6, -2)  |  date:'dd/MM/yyyy'}}</td>
                <td ng-if="item.tipoAjuste==null">{{item.tipoFactura}}</td>
                <td ng-if="item.tipoAjuste==null">{{item.montoFacturaTotal}}</td>
                <td ng-if="item.tipoAjuste==null"><a target="blank" href="/Clientes/DatosFacturacion/{{item.cliente_id}}">{{item.cliente_id}}</a></td>
                <td ng-if ="item.tipoAjuste==null">{{item.resultado===0?'OK':'Error'}}</td>
                <td ng-if="item.tipoAjuste==null">{{item.facturarAfip? item.cae : 'N/A'}}</td>
                <td ng-if="item.tipoAjuste==null">{{item.numeroComprobante}}</td>
                <td ng-if="item.tipoAjuste==null">{{item.observaciones}}</td>
            
                <td ng-if="item.tipoAjuste!=null">
                    <span ng-show="item.pathFactura==null || item.pathFactura==''">{{item.id}}</span>
                    <a ng-show="item.pathFactura!=null && item.pathFactura!=''" target="blank" href="/Facturas/{{item.pathFactura}}">{{item.id}}</a>
                </td>
                <td ng-if="item.tipoAjuste!=null">{{item.fechaCreacion.slice(6, -2)  |  date:'dd/MM/yyyy'}}</td>
                <td ng-if="item.tipoAjuste!=null">{{item.tipoComprobante==null?item.tipoAjuste:item.tipoComprobante}}</td>
                <td ng-if="item.tipoAjuste!=null">{{item.totalAjuste}}</td>
                <td ng-if="item.tipoAjuste!=null"><a target="blank" href="/Clientes/DatosFacturacion/{{item.cliente_id}}">{{item.cliente_id}}</a></td>
                <td ng-if="item.tipoAjuste!=null">{{item.resultadoSolicitudAfip===0?'OK':'Error'}}</td>
                <td ng-if="item.tipoAjuste!=null">{{item.caeComprobanteAjuste}}</td>
                <td ng-if="item.tipoAjuste!=null">{{item.numeroComprobanteAjusteAfip}}</td>
                <td ng-if="item.tipoAjuste!=null">{{item.observacionesAjuste}}</td>

                <td></td>
                
            </tr>

        </tbody>

    </table>



</div>