    @model WaterService.FrontEnd.WebUI.Models.Pages.Barrio_Create

<div class="page-header">
    <h1>Nueva Barrio    
		<small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Ingrese los datos de la Barrio
        </small>
    </h1>
</div>

<script src="~/js/Views/Barrios_Create.js"></script>

<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">Nuevo Barrio: </h4>
    </div>

    <div class="widget-body">
        <div class="widget-main no-padding">

            @using (Html.BeginForm("GuardarBarrio", "Barrios", FormMethod.Post, new { id = "form_create", name = "form_create", @class = "form-horizontal", role = "form" }))
            {
                <fieldset>

                    @* nombreBarrio *@
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">Nombre Barrio</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                @Html.TextBoxFor(   x => x.BarrioModelo.nombreBarrio, 
                                                    new { fieldType = "text", errorMessage = "Ingrese el nombre del barrio", 
                                                          @class = "validate col-xs-10 col-sm-8 ", 
                                                          placeholder = "nombre del barrio", type = "text" })
                            </div>
                            <div class="mensajeValidacion help-block"></div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        @* codigoExterno *@
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-4 no-padding-right">Código Externo</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="clearfix">
                                    @Html.TextBoxFor(   x => x.BarrioModelo.codigoExterno, 
                                                        new { fieldType = "text", errorMessage = "Ingrese el Código Externo ", 
                                                              @class = "validate col-xs-10 col-sm-8 ", 
                                                              placeholder = "código externo del barrio", type = "text" })
                                </div>
                                <div class="mensajeValidacion help-block"></div>
                            </div>
                        </div>

                        @* Ciudad *@
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-4 no-padding-right">Ciudad</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="clearfix">
                                    @Html.DropDownListFor(  x => x.BarrioModelo.ciudad_id, 
                                                            new SelectList(Model.Ciudades, "id", "nombreCiudad"), 
                                                            new { @class = "input-group col-xs-10 col-sm-8" })
                                </div>
                                <div class="mensajeValidacion help-block"></div>
                            </div>
                        </div>

                    </div>

                </fieldset>
                    
                <div class="form-actions center">
                    <button type="button" id="btn_guardar" class="btn btn-sm btn-success">
                        Guardar
							<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>


