
<div id="div_messagesBox" title="Mensaje del sistema">
    <div class="hide alert alert-success messageBox successMessage">	    
	    <strong>
		    <i class="ace-icon fa fa-check"></i>
		    <span class="messageTitle"></span>
	    </strong>
            <span class="messageText"></span>	    
	    <br>
    </div>

    <div class="hide alert alert-danger messageBox errorMessage">
	    <strong>
		    <i class="ace-icon fa fa-times"></i>
		   <span class="messageTitle"></span>
	    </strong> 
        <span class="messageText"></span>	
	    <br>
    </div>

    <div class="hide alert alert-warning messageBox warningMessage">
	    <strong> <span class="messageTitle"></span> </strong>
	   <span class="messageText"></span>	
	    <br>
    </div>

    <div class="hide alert alert-info messageBox infoMessage">
	    <strong><span class="messageTitle"></span></strong>
	    <span class="messageText"></span>	
	    <br>
    </div>
</div>