

<div class="alert alert-danger hide staticBox staticBoxError">	
	<strong>
		<i class="ace-icon fa fa-times"></i>
		Error: 
	</strong>
	<span class="messageStaticBox"></span>
	<br>
</div>


<div class="alert alert-block alert-success hide staticBox staticBoxSuccess">
		<strong>
			<i class="ace-icon fa fa-check"></i>
			Exitoso: 
		</strong>
		<span class="messageStaticBox"></span>		
</div>

