<ui-select ng-model="dirModel.itemsSelected"
           theme="bootstrap"
           ng-if="multiple!='true'">
    <ui-select-match placeholder="Seleccione repartidor" allow-clear="{{allowClear}}">
        {{$select.selected.nombreApellido}}
    </ui-select-match>
    <ui-select-choices repeat="reparto in optionItems | propsFilter: {nombreApellido: $select.search}">
        <div ng-bind-html="reparto.nombreApellido | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>

<ui-select multiple
           ng-model="dirModel.itemsSelected"
           ng-if="multiple=='true'"
           theme="bootstrap">
    <ui-select-match placeholder="Seleccione repartidor" allow-clear="{{allowClear}}">
        {{$item.nombreApellido}}
    </ui-select-match>
    <ui-select-choices repeat="reparto in optionItems | propsFilter: {nombreApellido: $select.search}">
        <div ng-bind-html="reparto.nombreApellido | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>
