<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Dispenser</label>
    <div class="col-sm-9">

        <span class="input-icon input-icon-right " style="width: 100%;">
            <input type="text" class="col-sm-12"
                   style="width: 100%;"
                   placeholder="{{placeholder}}"
                   uib-typeahead="dispenser as ('Numero Interno:'+dispenser.numeroInterno +' ID:'+dispenser.id+' Numero de Serie: '+ dispenser.numeroSerie)  for dispenser in buscarDispensers($viewValue)"
                   typeahead-loading="buscandoDispenser"
                   typeahead-no-results="noResults"
                   typeahead-editable="false"
                   typeahead-wait-ms="300"
                   ng-model="ngDispenserSeleccionado" />
            <i class="ace-icon fa fa-check green"
               ng-show="ngDispenserSeleccionado!=null && !buscandoDispenser"
               uib-tooltip="Dispenser seleccionado"
               tooltip-placement="right"></i>
            <i class="ace-icon fa fa-refresh blue"
               ng-show="buscandoDispenser"
               uib-tooltip="Buscando..."
               tooltip-placement="right"></i>
            <i class="ace-icon fa fa-times red"
               ng-show="ngDispenserSeleccionado==null && !buscandoDispenser"
               uib-tooltip="No hay dispenser seleccionado"
               tooltip-placement="right"></i>
        </span>

        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> Sin resultados
        </div>
    </div>
</div>