
<script>
    var clienteId = @ViewBag.clienteId;
</script>
<div ng-app="mainApp" ng-controller="dashboardCuentaCliente">

    <dashboard-cliente cliente-id="clienteId"></dashboard-cliente>

</div>

<script src="~/js/app/mainApp.js"></script>
<script src="~/js/app/app_directives.js"></script>
<script src="~/js/app/controllers/usuariosClientesControllers.js"></script>
